<a href="https://colab.research.google.com/github/oneway-kim/RPA-GPT_url-itemname/blob/main/pdf/0908_Phone_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import re

In [37]:
df =pd.read_excel('phone-number.xlsx')

In [38]:
df.head()

,결제수단 상세,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,결제(입금)자,NaN,코끼리,NaN,NaN,NaN,NaN,NaN,전자보증보험 서비스 정보,NaN,NaN,127.0.0.1:8888,NaN,NaN
1,결제수단,NaN,무통장입금,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,결제은행정보,NaN,개구리 / 결제은행변경,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,결제(입금)확인일,NaN,2022-01-11 20:40:42,NaN,NaN,NaN,NaN,NaN,입금확인정보,NaN,NaN,127.0.0.1:54304,NaN,NaN
4,환불 정보,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# p = /^[0-9]{3}[-]+[0-9]{4}[-]+[0-9]{4}$/

SyntaxError: ignored

  정규 필터식	의미



  \w	한 글자


  \w+	한 단어

  \d	정수 1자리

  \d+	정수 전체

  \s	공백 한칸

  \s+	공백 전체

  \특수문자	특수문자 구분

In [40]:
# p = '\d{3}s?-?\d{4}\s?-?\d{4}'

In [46]:
p = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b'  # 이메일 패턴

In [47]:
phone_num = []

In [48]:
for index, row in df.iterrows():
  list_index = df.iloc[index].tolist()
  for i in list_index:
    # print(i, type(i))
    if type(i) is str:
      # print('Yes: {0}'.format(i))
      m = re.match(pattern=p, string=i)
      if m:
        print("나 이메일이야!!!: {0}\n".format(i))
        phone_num.append(i)

나 이메일이야!!!: oooo@naver.com

In [49]:
phone_num

['oooo@naver.com']

In [50]:
set_num = set(phone_num)

In [51]:
set_num

{'oooo@naver.com'}

In [52]:
phone_num = list(set_num)

In [53]:
phone_num

['oooo@naver.com']